@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";

.cmp-customsearch {
      margin: 20px auto;
      width: 100%;

      &__container {
            display: flex;
            margin: 0px auto;
            width: 70%;

            &-input {
                  border: none;
                  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  outline: none;
                  padding: 10px 20px;
                  width: 92%;
            }

            &-btn {
                  background-color: rgb(16, 165, 116);
                  border: none;
                  padding: 15px 0;
                  width: 8%;

                  i{
                        font-size: 20px;
                  }
                  
            }

      }

      &__field__totalresults {
            margin: 0px auto;
            padding: 10px;
            width: 70%;
      
      }

      &__results {
            margin: 0px auto;
            padding: 10px;
            width: 70%;

            &--ul {
                  list-style: none;
            }
            
      }

}